{% block _appbundle_user_avatar_widget %}
    {% for choice in choices %}
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="appbundle.user[avatar]" value="{{ choice.value }}" id="{{ choice.label }}" {{ choice.label == 'devid' ? 'checked'}}>
                <img src="{{ asset(choice.data.url) }}" alt="{{ choice.data.name }}" class="avatar-img">
            </label>
        </div>
    {% endfor %}
{% endblock %}

{% block _user_edit_avatar_widget %}
    {% for choice in choices %}
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="user_edit[avatar]" value="{{ choice.value }}" id="{{ choice.label }}" {{ choice.label == 'devid' ? 'checked'}}>
                <img src="{{ asset(choice.data.url) }}" alt="{{ choice.data.name }}" class="avatar-img">
            </label>
        </div>
    {% endfor %}
{% endblock %}

{% block _admin_user_avatar_widget %}
    {% for choice in choices %}
        <div class="form-check form-check-inline">
            <label class="form-check-label">
                <input type="radio" name="admin_user[avatar]" value="{{ choice.value }}" id="{{ choice.label }}" {{ choice.label == 'devid' ? 'checked'}}>
                <img src="{{ asset(choice.data.url) }}" alt="{{ choice.data.name }}" class="avatar-img">
            </label>
        </div>
    {% endfor %}
{% endblock %}
