{% extends 'base.html.twig' %}

{% block title %}Erreur : {{ status_text }}{% endblock %}

{% block body %}
    <section id="error-page">
        <h2>Oops!{% block error_message %} {{status_text}} {% endblock %}</h2>
        <p>(Erreur {{ status_code }})</p>
        <a href="{{ path('app_homepage')}}">Retour vers la page d'accueil.</a>
    </section>
{% endblock %}
