{% extends 'TwigBundle:Exception:error.html.twig' %}

{% block error_message %}
    <p><i class="fa fa-unlock-alt"></i>Accès refusé.</p>
    <p><a href="{{ path('login') }}">Veuillez vous connecter.</a></p>
{% endblock %}
