{% extends 'base.html.twig' %}

{% block main %}
<h2>à propos</h2>
<p id="me"><img src="" alt="Elise Borie" hidden></p>
<section class="summary">
    <h3>Elise Borie</h3>
    <h4>Développeuse Web Junior</h4>
    <p>
        Après avoir travaillé plusieurs années dans les domaines de l'éducation et de l'animation, j'ai voulu donner un nouveau souffle à ma carrière.
    </p>
    <p>
        Attirée par les nouvelles technologies, j'ai réalisé un bilan de compétences qui a confirmé mon souhait d'évoluer dans les métiers du numérique et plus particulièrement du développement web.
    </p>
    <p>
        Je me suis ainsi investie dans une formation de Développeur Intégrateur en réalisation d'applications web proposée par la <span class="a-hover"><a href="https://3wa.fr">3W Academy</a></span>, labellisées <span class="a-hover"><a href="https://www.grandeecolenumerique.fr">'Grandes Ecoles du Numériques'</a></span>.
    </p>
    <p>
        Très intéressée par le développement back-end, j'ai développé ce site en me formant sur le framework Symfony 3.
    </p>
</section>
<section class="skills">
    <h3>Connaissances techniques</h3>
    <h4><span>Back-end</span></h4>
    <img src="{{ asset('img/logos/php.png')}}" alt="logo php" class="skills-item">
    <img src="{{ asset('img/logos/symfony.png')}}" alt="logo symfony" class="skills-item">
    <img src="{{ asset('img/logos/mysql.png')}}" alt="logo mysql" class="skills-item">

    <h4><span>Front-end</span></h4>
    <img src="{{ asset('img/logos/javascript.png')}}" alt="logo javascript" class="skills-item">
    <img src="{{ asset('img/logos/jquery.png')}}" alt="logo jquery" class="skills-item">
    <img src="{{ asset('img/logos/html5.svg')}}" alt="logo html5" class="skills-item">
    <img src="{{ asset('img/logos/css3.png')}}" alt="logo css3" class="skills-item">
    <img src="{{ asset('img/logos/bootstrap.svg')}}" alt="logo bootstrap" class="skills-item">

    <h4><span>Environnements et outils</span></h4>
    <img src="{{ asset('img/logos/linux.png')}}" alt="logo linux" class="skills-item">
    <img src="{{ asset('img/logos/windows.png')}}" alt="logo windows" class="skills-item">
    <img src="{{ asset('img/logos/git.png')}}" alt="logo git" class="skills-item">
</section>
<section class="more">
    <h3>Plus d'informations</h3>
    <a href="{{ path('app_contact') }}"><i class="fa fa-envelope" title="Contactez-moi"></i></a>
    <a href="https://www.linkedin.com/in/elise-b-9574aa136/"><i class="fa fa-linkedin-square" title="Profil LinkedIn"></i></a>
    <a href="https://bitbucket.org/lili44/"><i class="fa fa-bitbucket-square" title="Repositories Bitbucket"></i></a>
    <a href="{{ path('app_download', {'file': 'cv', 'format': 'pdf'}) }}"><i class="fa fa-download" title="Mon CV"></i></a>
</section>
{% endblock %}
