{{ form_start(formComment, {'attr': {'data-validation': "true"}}) }}
    <fieldset>
        <legend>Nouveau commentaire</legend>
        {{ form_errors(formComment) }}
        {{ form_errors(formComment.content) }}
        {{ form_widget(formComment.content, {'attr': {'class': 'form-group', 'rows': 4}}) }}
        <div class="g-recaptcha" data-sitekey="6LdBoDcUAAAAAJGuzQ6a-eT8d9TfHtP1n6I1Uz7o"></div>
        {{ form_row(formComment.save, {'attr': {'class': 'btn btn-info'}}) }}
    </fieldset>
{{ form_end(formComment) }}
