{% extends 'base.html.twig' %}

{% block main %}
    <h2>Formulaire de contact</h2>
    {{ form_start(form, {'attr': {'data-validation': "true"}}) }}
    {{ form_row(form.name, {'attr': {'autofocus': 'autofocus'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.content, {'attr': {'rows': '4'}}) }}
    <div class="g-recaptcha" data-sitekey="6LdGqzcUAAAAAKrksZHfpWFZqKRRckZslPTZYiRI"></div>
    <input type="submit" value="Envoyer" class="btn btn-info">
    <a href="{{ path('app_homepage') }}" class="btn btn-secondary">Retour</a>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
