{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
{% endblock %}

{% block main %}
    <h2>Galerie de photos</h2>
    <div class="row justify-content-between align-items-baseline">
        {% for photo in listPhotos %}
        <a href="{{ asset( photo.url) }}" data-toggle="lightbox" data-gallery="blog-photos" data-type="image" class="col-sm-4">
            <img src="{{ asset( photo.url) }}" class="img-fluid p-2" alt="{{ photo.title }}">
        </a>

        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                showArrows: true
            });
        });
    </script>
{% endblock %}
