{% extends 'base.html.twig' %}

{% block main %}
    {# MODAL D'AVERTISSEMENT AU CHARGEMENT DE LA PAGE D'ACCUEIL #}
    <div class="modal" tabindex="-1" role="dialog" id="homepage-warning">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content p-3">
                <div class="modal-header align-items-center">
                    <h5 class="modal-title">Bienvenue sur le site 'L'école prend l'air'</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class=" fa fa-close"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Développeuse web junior, j'ai créé ce site de <strong>démo</strong> pour développer mes connaissances acquises lors de ma formation et m'initier au framework Symfony 3.</p>
                    <p>Pour toute question, vous pouvez me <span class="a-hover"><a href="{{ path('app_contact') }}">contacter ici</a></span>.</p>
                    <p>Et pour toute information supplémentaire me concernant, vous pouvez visiter <span class="a-hover"><a href="{{ path('app_about') }}">cette page</a></span>.</p>
                </div>
                <div class="modal-footer">
                    <p>Bonne visite !</p>
                </div>
            </div>
        </div>
    </div>

    <section id="category">
        {% for category in listCategories %}
            <a href="{{ path('post_by_category', {'id': category.id}) }}" class="badge badge-pill badge-info m-2">{{ category.name|capitalize }}</a>
        {% endfor %}
    </section>
    {{ render(controller('AppBundle:Post:slider', {'limit': 3})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            if (!window.sessionStorage.getItem('visited') || window.sessionStorage.getItem('visited') !== 'yes') {
                $('#homepage-warning').modal('show');
                window.sessionStorage.setItem('visited', 'yes');
            }

            $('.carousel').carousel({
                interval: 3000
            });
        });
    </script>
{% endblock %}
