<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}L'école prend l'air{% endblock %}</title>
    <!-- STYLES -->
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/form.css') }}" rel="stylesheet" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('img/myfavicon.ico') }}" />
    <!-- SCRIPTS -->
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{{ asset('js/classes/FormValidator.js') }}" charset="utf-8"></script>
    <script src="{{ asset('js/main.js') }}" charset="utf-8"></script>
    {% endblock %}


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top justify-content-center" id="main">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMain" aria-controls="navbarTogglerMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerMain">
                <div class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid justify-content-around">
                    <a
                        class="nav-item nav-link {{ currentPage is defined and currentPage == 'home' ? 'active'}}"
                        href="{{ path('app_homepage') }}">
                        Accueil
                    </a>
                    <a
                        class="nav-item nav-link {{ currentPage is defined and currentPage == 'about' ? 'active'}}"
                        href="{{ path('app_about') }}">
                        A propos
                    </a>
                    <a
                        class="nav-item nav-link {{ currentPage is defined and currentPage == 'gallery' ? 'active'}}"
                        href="{{ path('app_gallery') }}">
                        Galerie
                    </a>
                    <a
                        class="nav-item nav-link {{ currentPage is defined and currentPage == 'blog' ? 'active'}}"
                        href="{{ path('post_home') }}">
                        Blog
                    </a>
                    <a
                        class="nav-item nav-link {{ currentPage is defined and currentPage == 'contact' ? 'active'}}"
                        href="{{ path('app_contact') }}">
                        Contact
                    </a>
                </div>
            </div>
        </nav>
        <!-- <section id="header"> -->
            <h1><a href="{{ path('app_homepage') }}">L'école prend l'air</a></h1>
            <nav class="navbar navbar-expand-md navbar-light bg-light justify-content-end" id="user">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{ app.user.firstname|capitalize }} {{ app.user.lastname|capitalize }}
                    <ul class="nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >
                                <img
                                src="{{ app.user.avatar is not null ? asset(app.user.avatar.url) : asset('img/avatar.png') }}"
                                width="30"
                                height="auto"
                                alt="{{ app.user.username }}"
                                />
                            </a>
                            <div class="dropdown-menu">
                                <a href="{{ path('user_show', {'id': app.user.id}) }}" class="dropdown-item"><i class="fa fa-user" title="Mon compte"></i></a>
                                <a href="{{ path('user_post', {'id': app.user.id}) }}" class="dropdown-item"><i class="fa fa-book" title="Mes articles"></i></a>
                                <a href="{{ path('post_add') }}" class="dropdown-item"><i class="fa fa-pencil-square-o" title="Ajouter un article"></i></a>
                                <a href="{{ path('logout') }}" class="dropdown-item"><i class="fa fa-power-off" title="Me déconnecter"></i></a>
                            </div>
                        </li>
                    </ul>
                {% else %}
                    <div class="collapse navbar-collapse navbar-nav mr-auto mt-2 mt-lg-0 justify-content-end flex-row">
                        <a
                            class="nav-item nav-link {{ currentPage is defined and currentPage == 'registration' ? 'active'}} fa-anon"
                            href="{{ path('user_signup') }}"
                            title="S'inscrire'">
                            <i class="fa fa-user-plus p-2"></i>
                        </a>
                        <a
                            class="nav-item nav-link {{ currentPage is defined and currentPage == 'login' ? 'active'}} fa-anon"
                            href="{{ path('login') }}"
                            title="Se Connecter">
                            <i class="fa fa-sign-in p-2"></i>
                        </a>
                    </div>
                {% endif %}
            </nav>
        <!-- </section> -->
    </header>

    <main>
        <div class="container">
            {# messages flash #}
            <div id="msgFlash"></div>
            {% for message in app.flashes('notice') %}
                <div id='#notice' class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div id='#notice' class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}
            <div class="row justify-content-between body" id="{{ currentPage ?? '' }}">
                <div class="col-12">
                    {% block main %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
    </main>

    <footer class="container-fluid">
        <div class="row justify-content-between">
            <section id="recent-posts" class="col-md">
                <h2>Articles Récents</h2>
                {{ render(controller('AppBundle:Post:menu', {'limit': 5})) }}
            </section>
            <section id="credit" class="col-md">
                <h2>Crédits d'images</h2>
                <p>Toutes les illustrations et photos de ce site sont libres de droits.</p>
                <p>Les photos des articles proviennent de la communauté
                    <span class="a-hover"><a href="https://pixabay.com/fr/">Pixabay</a></span>
                </p>.
                <p>
                    <span class="a-hover"><a href="http://turbomilk.com/downloads/zoom_eyed/">Les avatars</a></span>
                    ont été créés par
                    <span class="a-hover"><a href="http://www.turbomilk.com">l'équipe d'Olesia Kozlova</a></span>
                </p>.
                <p>Le background a été
                    <span class="a-hover"><a href='https://www.freepik.com/free-vector/hand-drawn-school-materials-on-blackboard_1215292.htm'>conçu by Freepik</a></span>.
                </p>
            </section>
        </div>
        <p id="copyright"><small><i class="fa fa-copyright"></i>2017 - Elise Borie</small></p>
    </footer>
</body>
</html>
