{% extends 'base.html.twig' %}

{% block body %}
<section id="admin">
    {% block body_admin %}
        <h2><i class="fa fa-cogs"></i> Administration du site</h2>
        <div class="container">
            <p class="row justify-content-center">
                <a href="{{ path('admin_post') }}" class="btn btn-info btn-lg p-2 m-5">Gestion des articles</a>
                <a href="{{ path('admin_user') }}" class="btn btn-info btn-lg p-2 m-5">Gestion des utilisateurs</a>
            </p>
        </div>
    {% endblock %}
</section>
{% endblock %}
