{% extends 'base.html.twig' %}

{% block main %}
    <h2>Connexion</h2>
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post" data-validation="true">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="username" class="required">Login :</label>
                <input type="text" name="_username" value="{{ last_username }}" id="username" data-length="30" class="form-control" required autofocus>
            </div>
            <div class="form-group col-md-6">
                <label for="password" class="required">Mot de passe :</label>
                <input type="password" name="_password" id="password" class="form-control" required>
                <small class="form-text text-muted" data-toggle="modal" data-target="#resetModal">
                    <a href="{{ path('password_reset') }}" id="lost-password">Mot de passe oublié</a>
                </small>
            </div>
        </div>
        <input type="submit" value="Se connecter" class="btn btn-info">
        <small class="form-text text-muted">Pas encore inscrit? Inscrivez-vous <a href="{{ path('user_signup') }}">ici</a>.</small>

    </form>
    {#
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
        {{ include('AppBundle:Security:resetPassword.html.twig')}}
    </div>
    #}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#  UTLISATION D'UNE MODALE POUR REINITIALISER LE MOT DE PASSE
    <script>
        $(document).ready( function() {
            $('#resetModal input[type="submit"]').on('click', function() {
                $.post(
                    "{{ path('password_reset') }}",
                    $('#resetForm').serialize(),
                    function(response) {
                        console.log('modal success');
                        console.log(response);
                        if (response.data == false) {
                            $('#msgFlash').html('<p class="alert alert-danger">Le pseudo n\'existe pas.</p>');
                        } else {
                            $('#msgFlash').html('<p class="alert alert-succes">Un nouveau mot de passe vous a été envoyé par mail.</p>');
                        }
                })
                .fail(function() {
                    console.log('modal failed');
                    $('#resetModal .modal-header')
                        .append('<p>')
                        .addClass('alert alert-danger')
                        .text('Une erreur est survenue. Veuillez réessayer.')
                    ;
                });
                $('#resetModal').modal('hide');
            });
        });
    </script>
    #}

{% endblock %}
