{% extends 'base.html.twig' %}

{% block main %}
{{ form_start(form, {'attr': {'class': 'col-sm-6 col-md-8 m-auto text-center', 'data-validation': "true"}}) }}
<fieldset>
    <legend>Mot de passe oublié</legend>
    <div class="form-row">
        <div class="from-group col-md-6">
            {{ form_row(form.username, {'attr': {'autofocus': 'autofocus'}}) }}
        </div>
        <div class="from-group col-md-6 d-flex justify-content-center">
            {{ form_row(form.save, {'attr': {'class' : 'btn btn-info mt-5'}}) }}
        </div>
    </div>
</fieldset>
{{ form_end(form) }}
{% endblock %}

{###############################################################################
######  FORMULAIRE DE REINITIATLISATION DANS UNE MODALE ########################

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="resetForm">
                <div class="form-group">
                    <label for="username" class="control-label required">Identifiant</label>
                    <input type="text" id="username" data-length="30" class="form-control" required="required" name="username">
                </div>
                <input type="submit" value="Envoyer" class="btn btn-info">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
        </div>
    </div>
</div>
#}
