<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Message</title>
    </head>
    <body>
        <h1>Nouveau message de {{ contact.name|capitalize }} posté le {{ contact.sendAt|date('d/m/Y \\à H:i:s') }}</h1>
        <blockquote>
            "{{ contact.content }}"
        </blockquote>
        <p>Adresse de réponse: {{ contact.email }}</p>
    </body>
</html>
