<p>Bonjour {{ user.firstname|capitalize }} {{ user.lastname|capitalize }} !</p>
<p>Vous êtes inscrit sur le site L'école prend l'air.</p>
<p>Voici vos identifiants de connexion:</p>
<ul>
    <li>votre login : {{ user.username }}</li>
    <li>votre mot de passe : {{ password|raw }}</li>
</ul>
<p>Pour plus de sécurité, vous pourrez le modifier dans votre compte utilisateur.</p>
<p>Bonne journée !</p>
