<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Activation de compte</title>
    </head>
    <body>
        <h1>Bienvenue {{ user.username }}</h1>
        <p>Pour activer votre compte veuillez cliquer sur ce <a href="{{ url }}">lien</a></p>
        <p>A bientôt</p>
    </body>
</html>
