<p>Bonjour {{ user.username }} !</p>
<p>Voici votre nouveau mot de passe : {{ password|raw }}</p>
<p>Pour plus de sécurité, vous pourrez le modifier dans votre compte utilisateur.</p>
<p>Bonne journée !</p>
