form fieldset {
    border: thin solid rgb(23,162,184);
    padding: 2%;
    margin: 2% auto;
    border-radius: 0.25rem;
}
form legend {
    max-width: fit-content;
    padding: 0 1%;
}
form .form-control {
    font-size: 1.6rem;
    height: inherit!important;
}
form label.required:after {
    content: " *";
    color: red;
}
form .help {
    padding: 0 15px;
}
.errorField {
    border: thin solid red;
    box-shadow: 2px 2px 2px red;
}
.error {
    color: red;
    font-weight: bold;
}

form img.avatar-img {
    width: 50%;
}
form .form-check {
    max-width: 40%;
}

form label.avatar-label {
    display: block;
}
form span.help-block {
    color:red;
}
form span.help-block li::before{
    content: "\F07100";
}
@media screen and (min-width: 576px) {
    form .form-check {
        max-width: 22%;
    }
}
