/* FONT FACE */
@font-face {
	font-family: "Eraser";
	src: url(../fonts/erasdust.ttf);
	font-weight: normal;
	font-style: normal;
}

/* GLOBAL */
* {
    box-sizing: border-box;
    /* Visualisation des éléments */
    /*border: 1px dotted rgba(212, 39, 39, 0.3);*/
}
html { font-size: 62.5% }

body {
    font-size: 1.6rem;
    font-family: 'Exo 2', sans-serif;
    color: #817d7d;
    line-height: 1.6;
    background-image: url('../img/background.jpg');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive;
    text-transform: capitalize;
    margin: 2% auto;
    padding: 2%;
    text-align: center;
    line-height: inherit;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.6rem;
}
span.a-hover a {
    color: #4a4848;

}
span.a-hover:hover {
    font-weight: bold;
}

a, a:hover {
    color: #817d7d;
}

a, a:hover, a:visited {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.fa-trash:hover {
    color: #dc3545;
}
.fa-pencil:hover {
    color: #17a2b8;
}
/* MODAL HOMEPAGE */
#homepage-warning .modal-content {
    background-color: rgba(23, 162, 184, 0.9);
    color: #dcdcdc;
}
#homepage-warning button.close {
    margin: 0;
    color: #dcdcdc;
}
#homepage-warning h5 {
    font-size: 2.4rem;
}
#homepage-warning p {
    text-align: justify;
}
#homepage-warning a {
    color: #dcdcdc;
    font-weight: bold;
}
#homepage-warning a:hover {
    color: #b4aeae;
}

/* BOUTONS */
.btn {
    color: #dfdcdc;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6rem;
    margin: 1%;
}
*[class*=-info] {
    color: #dfdcdc;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6rem;
}

/* PAGINATION */
.page-item.active .page-link {
    background-color: rgb(23, 162, 184);
    color: #dfdcdc;
    border: thin solid rgb(23, 162, 184);
}
.page-link {
    color: rgb(23, 162, 184);
}
.page-link, .page-item.disabled .page-link {
    border: thin solid #dfdcdc;
    background-color: rgba(255,255,255,0);
}

.page-link:focus, .page-link:hover {
    border: thin solid #dfdcdc;
    background-color: rgba(23, 162, 184, 0.3);
    color: #817d7d;
}
/* CAPTCHA */
.g-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
}

/* DATATABLES */
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: rgb(23, 162, 184)!important;
}

header, .body, footer, #admin {
    background-color: rgba(255, 255, 255, 0.9);
}

/* HEADER */
header {
    margin: 0 0 10%;
    width: 100%;
    text-align: center;
}
/* NAV */
#main a.nav-item.nav-link:hover, #main a.nav-item.nav-link.active {
    color: #343a40;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5%;
}
#user a.nav-item.nav-link, #user a.dropdown-item  {
    color: rgb(23, 162, 184);
    /*border: thin solid rgb(23, 162, 184);*/
    border-radius: 5%;
    margin: 0 0.5%;
    font-size: 1.6rem;
}
#user a.nav-item.nav-link:hover, #user a.dropdown-item:hover {
    color: #dfdcdc;
    background-color: rgb(23, 162, 184);
}
/*#user.navbar-light .navbar-nav .nav-link {
    color: #dfdcdc;
}*/
#user.bg-light {
    background-color: rgba(255,255,255,0)!important;
}
#user .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
    border: thin solid rgba(255, 255, 255, 0.9);
    min-width: 3rem;
}

/* MAIN */
main .body {
    padding: 0 5% 5%;
}
/* FOOTER */
footer {
    font-size: 1.3rem;
    line-height: inherit;
    text-align: center;
    margin: 10% 0 0;
    padding: 1%;
}
footer p {
    margin: 0;
}
footer h2 {
    font-size: 1.6rem;
    margin: 0;
}
/* SLIDER */
#home .col-12 {
    text-align: center;
}
#slider {
    display: inline-block;
    margin: auto;
}
#slider img {
    background-color: #fff;
}
#slider .carousel-caption {
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    width: 100%;
}
#slider h2 {
    color: #dcdcdc;
    font-size: 2.5rem;
    background-color: rgba(23, 162, 184, 0.7);
    margin: 0;
}
#slider .carousel-inner {
    border: 5px solid rgb(23, 162, 184);
    border-radius: 5%;
    box-shadow: 3px 3px 3px rgba(23, 162, 184, 0.66);
}
#slider .carousel-indicators {
    color: rgb(23, 162, 184);
}
/* SIDEBAR */
#category {
    margin: 2% auto;
    text-align: center;
}
/* POST */
#post-layout {
    text-align: center;
    box-shadow: 5px 5px 10px rgba(23, 162, 184, 0.66);
    background-color: rgba(23, 162, 184, 0.3);
    margin: 5% auto;
    display: block;
}
#post-layout header {
    background-color: rgba(255,255,255,0);
    margin: 0 0 5%;
}

#post-layout h3 {
    overflow-x: scroll;
    margin: 0;
}
#post-layout img {
    max-width: 90%;
    height: auto;
}
#post-layout > p {
    padding: 5%;
    text-align: justify;
}

#post-layout section.media {
    display: block;
}
/* COMMENTS */
#comments ol {
    list-style-type: none;
    padding: 0;
}
#comments ol li {
    border-bottom: thin solid rgb(23,162,184);
    margin: 2% auto;
    display: flex;
    flex-direction: column;
}
#comments .media {
    height: 45px;
}
#comments .media i.fa-question {
    height: 40px;
    width: 40px;
    border: thin solid #817d7d;
    border-radius: 50%;
    text-align: center;
    font-size: 3rem;
    padding: 0.5%;
    margin-right: 2%;
}
#comments .media img {
    height: 40px;
    width: auto;
}
#comments .media .comment-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#comments .media .comment-details small {
    margin: 0;
}
#comments ol a.btn-danger {
    align-self: flex-end;
}

/* ABOUT */
#about {
    text-align: center;
    background-color: rgba(255,255,255,0.95);
}
#about #me {
    margin: 3% auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(23, 162, 184);
    background-image: url('../img/photo_identite.jpg');
    background-size: cover;
    background-position: center;
}
#about .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 2%;
}
#about h3, #about .skills h4 {
    flex-basis: 100%;
}
#about .skills h3 {
    margin-bottom: 0;
}
#about .skills h4 {
    text-align: left;
    padding: 0 0 0 2px;
    border-bottom: thin solid rgb(23, 162, 184);
    margin-top: 10%;
}
#about .skills h4:nth-child(2) {
    margin-top: 5%;
}
#about .skills-item {
    max-width: 10%;
    margin: 5%;
}
#about .more {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#about .more h3 {
    margin-top: 5%;
}
#about .more a {
    font-size: 5rem;
}

/* ACCOUNT USER */
#myAccount .media-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;
}
#myAccount h3, #myAccount h4, #myAccount h4+p {
    text-align: left;
    margin: 0;
    padding: 0;
}


/* ERROR PAGE*/
#error-page {
    background-image: url('../img/errors/blackboard.jpg');
    background-position: center;
    background-size: cover;
    border: 3rem solid rgb(133, 104, 66);
    border-radius: 5%;
    padding: 3%;
    text-align: center;
}
#error-page h2, #error-page p, #error-page a {
    color: #fff;
    font-family: 'Eraser', cursive;
}
#error-page i.fa {
    margin-right: 1rem;
}

/* ADMIN */
#admin {
    padding: 5%;
}
/* VERSION 992PX */
@media screen and (min-width: 992px) {


}

/* VERSION 768PX */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 5rem;
    }
    h3 {
        font-size: 4rem;
    }
    h4 {
        font-size: 3rem;
    }
    h5 {
        font-size: 2rem;
    }
    /* Post */
    #view-post #post-layout {
        display: block;
    }
    #view-post #post-layout header {
        width: 100%;
    }
    #view-post #post-layout section.media {
        display: flex;
        align-items: flex-start;
    }
    #view-post #post-layout img {
        order: 0;
        margin: 0 2% 2%;
    }
    #view-post #post-layout section p {
        padding: 0 5% 0 2%;
        text-align: justify;
    }
    #post-layout h3 {
        overflow-x: inherit;
    }
    #post-layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    #post-layout header {
        order: 2;
        width: 60%;
        /*align-self: center;*/
        margin: 0;
    }
    #post-layout img {
        order: 1;
        max-width: 33%;
        margin-top: 1%;
        /*align-self: center;*/
    }
    #post-layout > p {
        order: 3;
        padding: 1% 5%;
    }
}

/* VERSION 576PX */
@media screen and (min-width: 576px) {
    /* ABOUT */
    #about .skills-item {
        max-width: 70px;
        margin: auto;
    }

    /* COMMENTAIRES */
    #comments {
        width:70%;
        margin: 0 auto;
    }
}
