{% extends 'AppBundle:Admin:index.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block body_admin %}
    <h2>Modifier le compte de '{{ user.username|capitalize }}'</h2>
    {{ form_start(form, {'attr': {'data-validation': "true"}}) }}
        <fieldset>
            <legend>Identité</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_label(form.firstname, 'Prénom :') }}
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname, {'attr': {'autofocus': 'autofocus'}}) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.lastname, 'Nom :') }}
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>
            </div>
            {{ form_row(form.email, {'label': 'Email :'})}}
            {{ form_row(form.avatar) }}
        </fieldset>
        <fieldset>
            <legend>Identifiants de connexion</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    {{form_label(form.username, 'Pseudo :')}}
                    {{form_errors(form.username)}}
                    {{form_widget(form.username)}}
                </div>
                <div class="form-group col-md-6">
                    <a href="{{ path('password_reset') }}" class="btn btn-primary mt-5">Réinitialiser le mot de passe</a>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Autorisations</legend>
            {{ form_widget(form.roles, {'attr': {'class': 'd-flex justify-content-around'}}) }}
        </fieldset>
        {{ form_widget(form.isActive) }}
        <input type="submit" value="Enregistrer" class="btn btn-info">
        <a href="{{ path('admin_user') }}" class="btn btn-danger">Annuler</a>
    {{ form_end(form) }}
{% endblock %}
