{% extends 'AppBundle:Admin:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css">
{% endblock %}

{% block body_admin %}
    <h2>Les utilisateurs du site</h2>
    <a href="{{ path('admin_user_new') }}" class="btn btn-info btn-lg">Inscrire un nouvel utilisateur</a>
    <a href="{{ path('admin') }}" class="btn btn-secondary btn-lg">Retour</a>
    <table id="all-users" class="table table-striped table-bordered dt-responsive nowrap compact" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Roles</th>
                <th class="text-center"><i class="fa fa-unlock" title="Compte activé"></th>
                <th class="text-center"><i class="fa fa-calendar" title="Date de modification"></th>
                <th class="text-center"><i class="fa fa-book" title="Nombre d'articles"></i></th>
                <th class="text-center"><i class="fa fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ path('user_show', {'id': user.id}) }}">{{ user.username|capitalize }}</a>
                    </td>
                    <td>{{ user.email|lower }}</td>
                    <td>
                        <ul>
                            {% for role in user.roles %}
                            <li>{{ role|slice(5)|capitalize }}</li>
                            {% endfor %}}
                        </ul>
                    </td>
                    <td class="text-center"><i class="fa fa-{{ user.isActive == 1 ? 'check' }}"></i></td>
                    <td class="text-center">{{ user.registratedAt|date('d/m/Y') }}</td>
                    <td class="text-center"><a href="{{ path('user_post', {'id': user.id}) }}">{{ user.posts|length }}</a></td>
                    <td class="text-center">
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fa fa-pencil p-2"></i></a>
                        <a href="{{ path('user_delete', {'id': user.id}) }}"><i class="fa fa-trash p-2"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap4.min.js" charset="utf-8"></script>
    <script>
        $(document).ready(function() {
            $('#all-users').DataTable( {
                "scrollX": true,
                "language" : {
                    "info":       "Affichage de _START_ à _END_ sur _TOTAL_ utilisateurs",
                    "lengthMenu": "Voir _MENU_ utilisateurs",
                    "search" :    "Rechercher",
                    "paginate": {
                        "first":    "Première",
                        "last":     "Dernière",
                        "next":     "Suivante",
                        "previous": "Précédente"
                    }
                }
            } );
        });
    </script>
{% endblock %}
