{% extends 'AppBundle:Admin:index.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block body_admin %}
    <h2>inscription</h2>
    {{ form_start(form, {'attr': {'data-validation': "true"}}) }}
    <fieldset>
        <legend>Nouveau membre  </legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(form.firstname, 'Prénom :') }}
                {{ form_errors(form.firstname) }}
                {{ form_widget(form.firstname, {'attr': {'autofocus': 'autofocus'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.lastname, 'Nom :') }}
                {{ form_errors(form.lastname) }}
                {{ form_widget(form.lastname) }}
            </div>
        </div>
        {{ form_row(form.email, {'label': 'Email :'}) }}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.username, 'Pseudo :') }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.roles) }}
                    {{ form_errors(form.roles) }}
                    {{ form_widget(form.roles) }}
                </div>
            </div>
            <div class="col-md-6">
                {{ form_row(form.avatar) }}
            </div>
        </div>
        {{ form_row(form.isActive) }}
    </fieldset>
    <input type="submit" value="Inscrire" class="btn btn-info">
    <a href="{{ path('admin_user') }}" class="btn btn-danger">Annuler</a>
    {{ form_end(form) }}
{% endblock %}
