{% extends 'base.html.twig' %}

{% block main %}
     <h2>Ajouter un article</h2>
     <a href="{{ path('post_home') }}" class="btn btn-danger">Annuler</a>
    {% include('AppBundle:Post:form.html.twig') %}
{% endblock %}
