{% extends 'base.html.twig' %}

{% block main %}
    <h2>Articles de la catégorie {{ category.name }}</h2>
    {% if listPosts is not empty %}
        {% for post in listPosts %}
            <a href="{{ path('post_view', {'id': post.id}) }}">
                {{ include('AppBundle:layout:post.html.twig') }}
            </a>
        {% endfor %}
        {# PAGINATION #}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('post_by_category', {'id': category.id, 'page': page-1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Précédente</span>
                    </a>
                </li>
                {% for p in range(1, nbPages) %}
                <li class="page-item {% if p == page %}active{% endif %}">
                    <a href="{{ path('post_by_category', {'id': category.id, 'page': p}) }}" class="page-link">{{ p }}</a>
                </li>
                {% endfor %}
                <li class="page-item {% if page >= nbPages %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('post_by_category', {'id': category.id, 'page': page+1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Suivante</span>
                    </a>
                </li>
            </ul>
        </nav>
    {% else %}
        <p>Aucun article de la catégorie {{ category.name }} n'est publié.</p>
    {% endif %}
{% endblock %}
