{% extends 'base.html.twig' %}

{% block main %}
    <form action="{{ path('post_delete', {'id': post.id})}}" method="post" class="col-lg-6 m-auto text-center">
        <fieldset>
            <legend>Supprimer l'article {{ post.title }}</legend>
            <p>Etes-vous sûr de vouloir supprimer l'article {{ post.title }}?</p>
            {% if post.isAuthor(app.user) %}
                <a href="{{ path('user_post', {'id': app.user.id}) }}" class="btn btn-secondary">Retour à l'article</a>
            {% elseif is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_post') }}" class="btn btn-secondary">Retour à l'article</a>
            {% endif %}
            <input type="submit" value="Supprimer" class="btn btn-danger">
        </fieldset>
        {# Génération du champ CSRF #}
        {{ form_rest(form) }}
    </form>
{% endblock %}
