{% extends 'base.html.twig' %}

{% block main %}
     <h2>Modifier l'article '{{ post.title|capitalize }}'</h2>
     <a href="{{ path('user_post', {'id': app.user.id}) }}" class="btn btn-danger">Annuler</a>
    {% include('AppBundle:Post:form.html.twig') %}
{% endblock %}
