{# Ouverture de la balise <form> #}
{{ form_start(formPost, {'attr': {'data-validation': "true"}}) }}
{# Erreurs générales du formulaire #}
{{ form_errors(formPost) }}
{# Label, erreurs et champs title et content #}
{% if formPost.author is defined %}
    {{ form_row(formPost.author, {'attr': {'class': 'col-md-4'}}) }}
{% endif %}
{{ form_row(formPost.title, {'attr': {'autofocus': 'autofocus'}}) }}
{{ form_row(formPost.content, {'attr': {'rows': 5}}) }}
<div class="form-row justify-content-between">
    <div class="form-group col-md-5">
        {{ form_row(formPost.categories, {'attr': {'aria-describedby': 'multiselectHelp', 'size': 6, 'class': 'form-control-lg'}}) }}
        <small id="multiselectHelp" class="help">ctrl+click pour sélection multiple</small>
    </div>
    <div class="form-group col-md-7">
        {{ form_errors(formPost.photo) }}
        {{ form_widget(formPost.photo) }}
        {# Affichage du champs photos #}
        {% if post is defined and post.photo is not null and post.photo.title is not null %}
            <img src="{{ asset(post.photo.url) }}" alt="{{ asset(post.photo.title) }}" class="rounded w-25">
        {% endif %}
    </div>
</div>
{# Label, erreurs et champs isPublished #}
{{ form_row(formPost.isPublished) }}
{# Personnalisation du bouton de soumission #}
{{ form_widget(formPost.save, {'attr': {'class': 'btn btn-info'}}) }}
{# Fermeture de la balise </form> #}
{{ form_end(formPost) }}
