{% extends 'base.html.twig' %}

{% block main %}
    <h2>Les articles</h2>
    <select id="search" name="search" class="btn btn-info">
        <option value="0" data-url="{{ path('app_search') }}">Tous les articles</option>
        <optgroup label="Catégories">
            {% for category in categories %}
            <option value="{{ category.id }}" data-url="{{ path('app_search', {'criteria': 'categories', 'id': category.id}) }}">{{ category.name|capitalize }}</option>
            {% endfor %}
        </optgroup>
        <optgroup label="Auteurs">
            {% for author in authors %}
            <option value="{{ author.id }}" data-url="{{ path('app_search', {'criteria': 'author', 'id': author.id}) }}">{{ author.username|e|capitalize }}</option>
            {% endfor %}
        </optgroup>
    </select>
    {% if posts is not empty %}
        <section id="search-posts">
            {% for post in posts %}
                <a href="{{ path('post_view', {'id': post.id}) }}">
                    {{ include('AppBundle:layout:post.html.twig') }}
                </a>
            {% endfor %}
            {# PAGINATION #}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('post_home', { 'page': page-1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for p in range(1, nbPages) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a href="{{ path('post_home', { 'page': p}) }}" class="page-link">{{ p }}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item {% if page >= nbPages %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('post_home', { 'page': page+1}) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    {% else %}
        <p>Aucun article publié.</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/search.js') }}" charset="utf-8"></script>
{% endblock %}
