{% for post in posts %}
    <a href="{{ path('post_view', {'id': post.id}) }}">
        {{ include('AppBundle:layout:post.html.twig') }}
    </a>
{% else %}
    <p>Aucun article publié pour votre recherche.</p>
{% endfor %}
