<div id="slider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for post in listPosts %}
            <div class="carousel-item {{ loop.index == 1 ? 'active'}}">
                <a href="{{ path('post_view', {'id': post.id}) }}">
                    <img src="{{ post.photo ? asset(post.photo.url) : asset('uploads/no-photo.svg') }}" alt="{{ post.photo ? post.photo.title : 'Aucune photo' }}" class="d-block img-fluid">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h2>{{ post.title|capitalize }}</h2>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="#slider" role="button" data-slide="prev" class="carousel-control-prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a href="#slider" role="button" data-slide="next" class="carousel-control-next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
