{% extends 'base.html.twig' %}

{% block main %}
    {{ include('AppBundle:layout:post.html.twig') }}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_post') }}" class="btn btn-secondary">Retour à la liste des articles</a>
    {% elseif post.isAuthor(app.user) %}
        <a href="{{ path('user_post', {'id': app.user.id}) }}" class="btn btn-secondary">Retour à la liste des articles</a>
    {% else %}
        <a href="{{ path('post_home') }}" class="btn btn-secondary">Retour à la liste des articles</a>
    {% endif %}

    {# AFFCHAGE DES COMMENTAIRES #}
    <section id="comments">
        <h4>{{ post.comments|length }} commentaire{{ post.comments|length > 1 ? 's' }}</h4>
        <ol>
            {% for comment in post.comments %}
                <li>
                    <div class="media">
                        {% if comment.author is not empty %}
                            <img src="{{ asset(comment.author.avatar.url) }}" alt="Avatar de {{ comment.author.avatar.name }}">
                        {% else %}
                            <i class="fa fa-question"></i>
                        {% endif %}
                        <div class="comment-details">
                            <small><strong>{{ comment.author ? comment.author.username|capitalize|e : 'Anonyme' }}</strong> a écrit :</small>
                            <small><em>{{ comment.createdAt|date('d/m/Y \\à H\\hi\\m\\i\\n') }}</em></small>
                        </div>
                    </div>
                    <p>{{ comment.content }}</p>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_comment_del', {'post_id': post.id, 'comment_id': comment.id}) }}" class="btn btn-danger">Supprimer ce commentaire</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>

        {# FORMULAIRE D'AJOUT COMMENTAIRES #}
        {{ render(controller('AppBundle:Blog:comment', {'id': post.id})) }}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
