<article id="post-layout" class="media">
    <header>
        <h3>{{ post.title|capitalize|e }}</h3>
        <small>Par {{ post.author.username|capitalize|e }} le {{ post.publishedAt|date('d/m/Y')}}</small>
        <p>
            {% for category in post.categories %}
            <a href="{{ path('post_by_category', {'id': category.id}) }}" class="badge badge-pill badge-info">{{ category.name|capitalize }}</a>
            {% endfor %}
        </p>
    </header>
    {{ currentPage == 'view-post' ? '<section class="media">' }}
        {% if post.photo is not empty %}
        <img src="{{ asset(post.photo.url) }}" alt="{{ post.photo.title|e }}">
        {% endif %}
        <p>
            {% if currentPage == 'view-post' %}
                {{ post.content|e }}
            {% else %}
                {{ post.content[:100]|e}} {{ post.content|length > 100 ? '[...]'}}
            {% endif %}
        </p>
    {{ currentPage == 'view-post' ? '</section>' }}
</article>
