<table id="all-posts" class="table table-striped table-bordered dt-responsive nowrap compact" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Titre</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Auteur</th>
            {% endif %}
            <th class="text-center"><i class="fa fa-calendar" title="Date de modification"></i></th>
            <th class="text-center"><i class="fa fa-send" title="Publié"></i></th>
            <th class="text-center"><i class="fa fa-cogs"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td><a href="{{ path('post_view', {'id': post.id}) }}">{{ post.title|capitalize|e }}</a></td>
            {% if is_granted('ROLE_ADMIN') %}
            <td>{{ post.author.username|capitalize|e }}</td>
            {% endif %}
            <td class="text-center">{{ post.updatedAt ? post.updatedAt|date('d/m/Y') : post.createdAt|date('d/m/Y') }}</td>
            <td class="text-center"><i class="fa fa-{{ post.isPublished == 1 ? 'check' : '' }}"></i></td>
            <td class="text-center">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_post_edit', {'id': post.id}) }}">
                    {% elseif post.isAuthor(app.user) %}
                    <a href="{{ path('post_edit', {'id': post.id}) }}">
                        {% endif %}
                        <i class="fa fa-pencil p-2"></i>
                    </a>
                    <a href="{{ path('post_delete', {'id': post.id}) }}"><i class="fa fa-trash p-2"></i></a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="
                {% if is_granted('ROLE_ADMIN') %}
                5
                {% else %}
                4
                {% endif %}"
                class="justify-content-center">
                Aucun article trouvé.
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#all-posts').DataTable( {
            "scrollX": true,
            "language" : {
                "info":       "Affichage de _START_ à _END_ sur _TOTAL_ articles",
                "lengthMenu": "Voir _MENU_ articles",
                "search" :    "Rechercher",
                "paginate": {
                    "first":    "Première",
                    "last":     "Dernière",
                    "next":     "Suivante",
                    "previous": "Précédente"
                }
            }
        } );
    });
</script>
