{% extends 'AppBundle:Admin:index.html.twig' %}

{% block body_admin %}
    <h2>Modifier l'article '{{ post.title|capitalize }}'</h2>
    <a href="{{ path('admin_post') }}" class="btn btn-secondary">Retour aux articles</a>
    {% include 'AppBundle:Post:form.html.twig' %}
{% endblock %}
