{% extends 'AppBundle:Admin:index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css">
{% endblock %}

{% block body_admin %}
    <h2>Les articles du site</h2>
    <a href="{{ path('admin') }}" class="btn btn-secondary btn-lg">Retour</a>
    <select id="search" name="search" class="btn btn-info">
        <option value="0" data-url="{{ path('admin_search') }}">Tous les articles</option>
        <optgroup label="Catégories">
            {% for category in categories %}
            <option value="{{ category.id }}" data-url="{{ path('admin_search', {'criteria': 'categories', 'id': category.id}) }}">{{ category.name|capitalize }}</option>
            {% endfor %}
        </optgroup>
        <optgroup label="Auteurs">
            {% for author in authors %}
            <option value="{{ author.id }}" data-url="{{ path('admin_search', {'criteria': 'author', 'id': author.id}) }}">{{ author.username|capitalize }}</option>
            {% endfor %}
        </optgroup>
    </select>
    <section id="search-posts">
        {% include 'AppBundle:layout:tablePost.html.twig' %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap4.min.js" charset="utf-8"></script>
    <script src="{{ asset('js/search.js') }}" charset="utf-8"></script>
{% endblock %}
