{% extends 'base.html.twig' %}

{% block main %}
    <h2>Mes informations personnelles</h2>
    <div class="identity media mb-4">
        <img src="{{ user.avatar ? asset(user.avatar.url) : asset('img/avatar.png')}}" alt="{{ user.avatar ? user.avatar.name : 'Avatar anonyme'}}" class="align-self-center mr-3 w-25">
        <div class="media-body align-self-stretch">
            <h3 class="mt-0">{{ user.username|capitalize|e }}</h3>
            <h4>{{ user.firstname|capitalize|e }} {{ user.lastname|capitalize|e }}</h4>
            <p>Votre email : {{ user.email|lower|e }}</p>
        </div>
    </div>
    <p>Inscrit depuis le {{ user.registratedAt|date('d/m/Y') }}.</p>
    <p>Vous avez écrit {{ user.posts|length }} articles.</p>
    <p>Votre compte vous permet {{ authorization }}</p>
    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-info">Modifier votre compte</a>
    <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger">Supprimer votre compte</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_user') }}" class="btn btn-secondary">Retour à la liste des utilisateurs</a>
    {% endif %}
{% endblock %}
