{% extends 'base.html.twig' %}

{% block main %}
    <h2>Modifier votre mot de passe</h2>
    {{ form_start(form, {'attr': {'data-validation': "true"}}) }}
    <fieldset>
        {{ form_row(form.oldPass, {'attr': {'class': 'col-md-6'}}) }}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(form.newPass.first)}}
                {{ form_errors(form.newPass.first)}}
                {{ form_widget(form.newPass.first)}}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.newPass.second)}}
                {{ form_errors(form.newPass.second)}}
                {{ form_widget(form.newPass.second)}}
            </div>
        </div>
    </fieldset>
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-info'}}) }}
    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-secondary">Retour</a>
    {{ form_end(form) }}
{% endblock %}
