{% extends 'base.html.twig' %}

{% block main %}
    <form action="{{ path('user_delete', {'id': user.id}) }}" method="post" class="col-lg-6 m-auto text-center">
        <fieldset>
            <legend>Supprimer
                {% if user.isUser(app.user) %}
                    votre compte
                {% elseif is_granted('ROLE_ADMIN') %}
                    le compte de {{ user.username|capitalize }}
                {% endif %}
            </legend>
            <p>Êtes-vous sûr de vouloir suprimer le compte ?</p>
            <input type="submit" value="Supprimer" class="btn btn-danger">
            {% if user.isUser(app.user) %}
                <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-info">Annuler</a>
            {% elseif is_granted('ROLE_ADMIN')%}
                <a href="{{ path('admin_user') }}" class="btn btn-info">Annuler</a>
            {% endif %}
            {{ form_rest(form) }}
        </fieldset>
    </form>
{% endblock %}
