{% extends 'base.html.twig' %}

{% form_theme formUser 'form/fields.html.twig' %}

{% block main %}
    <h2>Modifier votre compte</h2>
    {{ form_start(formUser, {'attr': {'data-validation': "true"}}) }}
    <fieldset>
        <legend>Identité</legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(formUser.firstname) }}
                {{ form_errors(formUser.firstname) }}
                {{ form_widget(formUser.firstname, {'attr': {'autofocus': 'autofocus'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(formUser.lastname) }}
                {{ form_errors(formUser.lastname) }}
                {{ form_widget(formUser.lastname) }}
            </div>
            {{ form_row(formUser.email) }}
            {{ form_row(formUser.avatar) }}
        </div>
    </fieldset>
    <fieldset>
        <legend>Identifiants de connexion</legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_row(formUser.username) }}
            </div>
            <div class="form-group col-md-6">
                {% if user.isUser(app.user) %}
                <p class="text-center mt-4"><a href="{{ path('password_change', {'id': user.id}) }}" class="btn btn-primary">Modifier votre mot de passe</a></p>
                {% endif %}
            </div>
        </div>
    </fieldset>
    <input type="submit" value="Modifier" class="btn btn-info">
    <a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-danger">Annuler</a>
    {{ form_end(formUser) }}
{% endblock %}
