{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css">
{% endblock %}

{% block main %}
    <h2>Mes articles</h2>
    <select id="search" name="byCategory" class="btn btn-info">
        <option value="0" data-url="{{ path('user_search', {'user_id': app.user.id}) }}">Toutes catégories</option>
        {% for category in categories %}
            <option value="{{ category.id }}" data-url="{{ path('user_search', {'user_id': app.user.id, 'cat_id': category.id}) }}">{{ category.name|capitalize|e }}</option>
        {% endfor %}
    </select>
    <section id="search-posts">
        {% include 'AppBundle:layout:tablePost.html.twig' %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js" charset="utf-8"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap4.min.js" charset="utf-8"></script>
    <script src="{{ asset('js/search.js') }}" charset="utf-8"></script>
{% endblock %}
