{% extends 'base.html.twig' %}

{% form_theme formUser 'form/fields.html.twig' %}

{% block main %}
    <h2>Inscription</h2>
    {{ form_start(formUser, {'attr': {'data-validation': "true"}}) }}
    {{ form_errors(formUser) }}
    <fieldset>
        <legend>Identité</legend>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(formUser.firstname) }}
                {{ form_errors(formUser.firstname) }}
                {{ form_widget(formUser.firstname, {'attr': {'autofocus': 'autofocus'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(formUser.lastname) }}
                {{ form_errors(formUser.lastname) }}
                {{ form_widget(formUser.lastname) }}
            </div>
        </div>
        {{ form_row(formUser.email) }}
        {{ form_row(formUser.avatar) }}
    </fieldset>
    <fieldset>
        <legend>Identifiants de connexion</legend>
        {{ form_row(formUser.username) }}
        <div class="row">
            <div class="form-group col-md-6">
                {{ form_label(formUser.password.first) }}
                {{ form_errors(formUser.password.first) }}
                {{ form_widget(formUser.password.first, {'aria-describedby': 'passwordHelp'}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(formUser.password.second) }}
                {{ form_errors(formUser.password.second) }}
                {{ form_widget(formUser.password.second) }}
            </div>
            <small id="passwordHelp" class="form-text text-muted help">Votre mot de passe doit contenir au minimum 8 caractères, au moins 1 lettre, 1 chiffre et 1 caractère spécial (parmi &, #, $, {, }, @, *, -, !- %).</small>
        </div>
    </fieldset>
    <div class="g-recaptcha" data-sitekey="6LdUHDgUAAAAAKmHTjALgm1wR7FD4y6Rfj_Quef-"></div>
    <input type="submit" value="S'inscrire" class="btn btn-info"><small>Site de démo</small>
    <small class="form-text text-muted">Déjà inscrit? Connectez-vous <a href="{{ path('login') }}">ici</a>.</small>
    {{ form_end(formUser) }}
{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
